grammar/ci-binder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="https://eriksiegel.nl/ns/component-inventory"
  xmlns:ci="https://eriksiegel.nl/ns/component-inventory">

  <xs:include schemaLocation="ci-common.mod.xsd"/>
  <xs:element name="binder">
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="0" ref="ci:g-macrodefs"/>
        <xs:element name="definitions" type="ci:ct-document-reference">
          <xs:annotation>
            <xs:documentation>Definitions like properties, categories, packages and locations.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="components">
          <xs:annotation>
            <xs:documentation>A list of XML documents containing component definitions.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
              <xs:element name="document" type="ci:ct-document-reference">
                <xs:annotation>
                  <xs:documentation>An XML document (of the appropriate type).</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="directory">
                <xs:annotation>
                  <xs:documentation>A directory to search for relevant XML documents.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="href" type="ci:t-href-directory" use="required"/>
                  <xs:attribute default="0" name="max-depth" type="xs:integer">
                    <xs:annotation>
                      <xs:documentation>The maximum sub-directory depth to search. le 0 means unbounded, 1 only the given directory, etc.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="include-filter" type="ci:t-regexp">
                    <xs:annotation>
                      <xs:documentation>Regular expression for filenames to include.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="exclude-filter" type="ci:t-regexp">
                    <xs:annotation>
                      <xs:documentation>Regular expression for filenames to exclude.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:choice>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ct-document-reference">
    <xs:annotation>
      <xs:documentation>An element that (just) refers to another XML document.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="href" type="ci:t-href-document" use="required"/>
  </xs:complexType>
</xs:schema>
