grammar/ci-common.mod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="https://eriksiegel.nl/ns/component-inventory"
  xmlns:ci="https://eriksiegel.nl/ns/component-inventory" xmlns:xi="http://www.w3.org/2001/XInclude" vc:minVersion="1.1"
  xmlns:sml="http://www.eriksiegel.nl/ns/sml" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning">
  <xs:include schemaLocation="file:/xatapult/xtpxlib-common/xsdmod/macrodefs.mod.xsd"/>
  <xs:import namespace="http://www.eriksiegel.nl/ns/sml" schemaLocation="../../xtpxlib-sml/xsd/sml.xsd"/>
  <xs:complexType name="ct-text-block-contents">
    <xs:annotation>
      <xs:documentation>Text contents. Anything in the sml namespace will be treated as such. Anything else will become HTML.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="skip"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ct-definition">
    <xs:annotation>
      <xs:documentation>Base complex type for a definition of something.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:group minOccurs="0" ref="ci:g-macrodefs"/>
      <xs:element minOccurs="0" name="description" type="ci:ct-text-block-contents">
        <xs:annotation>
          <xs:documentation>Optional longer description of the definition (in SML and/or HTML).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="ci:t-identifier" use="required">
      <xs:annotation>
        <xs:documentation>The identifier of the definition.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" type="xs:string">
      <xs:annotation>
        <xs:documentation>The visible name of the definition. Default: @id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="summary" type="xs:string">
      <xs:annotation>
        <xs:documentation>Optional summary of the definition.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="keywords">
      <xs:annotation>
        <xs:documentation>A list of keywords (for the HTML page). The id will become a keyword by default.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:list itemType="ci:t-non-empty-string"/>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:group name="g-media">
    <xs:sequence>
      <xs:element name="media">
        <xs:complexType>
          <xs:sequence>
            <xs:group minOccurs="0" ref="ci:g-macrodefs"/>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
              <xs:element name="image">
                <xs:complexType>
                  <xs:attributeGroup ref="ci:ag-media"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="pdf">
                <xs:complexType>
                  <xs:attributeGroup ref="ci:ag-media"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="text">
                <xs:complexType>
                  <xs:attributeGroup ref="ci:ag-media"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="markdown">
                <xs:complexType>
                  <xs:attributeGroup ref="ci:ag-media"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="sml">
                <xs:complexType>
                  <xs:attributeGroup ref="ci:ag-media"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="html">
                <xs:complexType>
                  <xs:attributeGroup ref="ci:ag-media"/>
                </xs:complexType>
              </xs:element>
            </xs:choice>
          </xs:sequence>
          <xs:attributeGroup ref="ci:ag-default-base-directory"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:simpleType name="t-href-resource">
    <xs:annotation>
      <xs:documentation>The URI of a non-XML resource (image, PDF, etc.).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>
  <xs:simpleType name="t-href-document">
    <xs:annotation>
      <xs:documentation>The URI of an XML document.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>
  <xs:simpleType name="t-href-directory">
    <xs:annotation>
      <xs:documentation>The URI of a directory (with or without trailing /).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="t-identifier">
    <xs:annotation>
      <xs:documentation>A single identifier of something.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Za-z][A-Za-z0-9\-_]*"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="t-regexp">
    <xs:annotation>
      <xs:documentation>A regular expression
</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="t-amount">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="t-price">
    <xs:restriction base="ci:t-amount">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="t-scaling">
    <xs:annotation>
      <xs:documentation>A percentage for the scaling of images.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]+%"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="t-media-type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="overview"/>
      <xs:enumeration value="connections-overview"/>
      <xs:enumeration value="usage-example"/>
      <xs:enumeration value="instruction"/>
      <xs:enumeration value="datasheet"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="t-non-empty-string">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:attributeGroup name="ag-media">
    <xs:attribute name="href" type="ci:t-href-resource" use="required"/>
    <xs:attribute default="overview" name="usage" type="ci:t-media-type"/>
    <xs:attribute name="description" type="ci:t-non-empty-string">
      <xs:annotation>
        <xs:documentation>Optional description of this image.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="ag-default-base-directory">
    <xs:attribute name="href-default-base-directory" type="ci:t-href-directory">
      <xs:annotation>
        <xs:documentation>The default directory for resolving all hrefs in further child elements.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
</xs:schema>
