grammar/ci-definitions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="https://eriksiegel.nl/ns/component-inventory"
  xmlns:ci="https://eriksiegel.nl/ns/component-inventory">

  <xs:include schemaLocation="ci-common.mod.xsd"/>
  <xs:element name="definitions">
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="0" ref="ci:g-macrodefs"/>
        <xs:element name="properties">
          <xs:complexType>
            <xs:sequence>
              <xs:group minOccurs="0" ref="ci:g-macrodefs"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="property">
                <xs:complexType>
                  <xs:complexContent>
                    <xs:extension base="ci:ct-definition">
                      <xs:attribute name="value-pattern" type="ci:t-regexp">
                        <xs:annotation>
                          <xs:documentation>A regular expression for the value to match. If absent or empty, anything goes.</xs:documentation>
                        </xs:annotation>
                      </xs:attribute>
                    </xs:extension>
                  </xs:complexContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="categories" type="ci:ct-categories"/>
        <xs:element name="price-ranges">
          <xs:complexType>
            <xs:sequence>
              <xs:group minOccurs="0" ref="ci:g-macrodefs"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="price-range">
                <xs:complexType>
                  <xs:complexContent>
                    <xs:extension base="ci:ct-definition">
                      <xs:attribute name="min-inclusive" type="ci:t-price" use="required"/>
                      <xs:attribute name="max-inclusive" type="ci:t-price" use="required"/>
                    </xs:extension>
                  </xs:complexContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="packages">
          <xs:complexType>
            <xs:sequence>
              <xs:group minOccurs="0" ref="ci:g-macrodefs"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="locations"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ct-categories">
    <xs:sequence>
      <xs:group minOccurs="0" ref="ci:g-macrodefs"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="category">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="ci:ct-definition">
              <xs:sequence>
                <xs:element minOccurs="0" name="categories">
                  <xs:complexType>
                    <xs:complexContent>
                      <xs:extension base="ci:ct-categories">
                        <xs:attribute default="false" name="sub-category-mandatory" type="xs:boolean">
                          <xs:annotation>
                            <xs:documentation>Whether a sub-category is mandatory here.</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                      </xs:extension>
                    </xs:complexContent>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
